@import '../sharedStyles/variables.scss';

.sumDisplay {
  text-align: center;
  box-shadow: $box-shadow-style;
  display: table;
  margin: 0 auto;
  margin-top: 60px;
  padding: 5px 20px;
  background: $white;
  border-radius: $border-radius-base;
  color: $brand-gray;

  p {
    font-size: 4rem;
    font-weight: bold;
  }
}
